
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=PT+Mono&family=Raleway:wght@900&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

body{
    font-size: 18px;
    color: #3e3d3d;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

a:link, a:visited {
    color: #FC4C02;
    text-decoration: none;
}

a:hover {
    color: #FECE0F;
    transition: 0.4s;
}

h1, h2, h3{
    font-family: 'Raleway', sans-serif;
    line-height: 1;
}

h2, h3 {
    margin-top: 2em;
}

pre {
    font-family: 'PT Mono', monospace;
    font-size: 0.9em;
    background-color: #f4f1f1;
    border-radius: 10px;
    padding: 2em;
    white-space: pre-wrap;
}

.info {
    text-align: right;
    line-height: 1;
}

.comment{
    font-style: italic;
    color: gray;
}

#header {
    background-image: url("./image/pumpkin.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

#header--content {
    width: 70%;
    margin: 0 auto;
    padding: 30px 50px 20px;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 30px;
}

#header--bottom {
    font-size: 1.1em;
    text-align: center;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: fa-angle-down;
    animation-timing-function: ease;
}

@keyframes fa-angle-down {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}

#main {
    display: flex;
    flex-direction: row;
}

    #sidebar {
        flex: 1 0 150px;
        margin-top: 2.1em;
        font-size: 0.9em;
    }

    #sidebar ul {
        position: sticky;
        top: 2.1em;
        line-height: 0.9;
        margin: 1.5em 0;
        list-style: none;
        padding-inline-start: 0;
        margin-left: 10%;
    }

    #sidebar li {
        margin: 1em 0;
    }

    #body {
        flex: 2 0 550px;
        padding: 0 10%;
    }

    #footer {
        background-color: #ff7001;
        padding: 50px 10%;
        text-align: right;
        margin-top: 50px;
    }

    #footer a:link, #footer a:visited {
        color: #3e3d3d;
        text-decoration: none;
    }

    #footer a:hover {
        color: #FFBE0D;
        transition: 0.4s;
    }

    @media only screen and (max-width: 1050px) {
        img {
            width: 100%;
        }

        #body {
            padding: 0 5%;
        }

    }
    
    @media only screen and (max-width: 750px) {
        body {
            font-size: 16px;
        }

        img {
            max-width: 550px;
        }

        #sidebar {
            display: none;
        }

        #header--content {
            padding: 18px 30px 12px ;
            border-radius: 20px;
        }

        #body {
            padding: 0 5%;
            flex-basis: 400px;
        }
    }